<nav class="navbar navbar-dark bg-dark px-3 py-1">
  <a class="navbar-brand me-3" routerLink="/hero">
      <img class="duck" src="https://media1.tenor.com/m/scX-kVPwUn8AAAAC/this-is-fine.gif" alt="">
  </a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link px-2" routerLink="/hero" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Hero</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2" routerLink="/dragonball" routerLinkActive="active">DragonBall</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2" routerLink="/dragonball-super" routerLinkActive="active">DragonBall Super</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2" routerLink="/counter" routerLinkActive="active">Counter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2" routerLink="/usuario" routerLinkActive="active">Usuario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2" routerLink="/usuario-signal" routerLinkActive="active">Usuario Signal</a>
    </li>
  </ul>
</nav>
